<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">My portfolio</h1>
        <p class="lead text-muted">Hi <%= current_user.first_name %>, this is my Portfolio, feel free to browse them.</p>
        <p>
          <%= link_to 'About Me', about_me_path , class: 'btn btn-primary' %>
          <%= link_to 'My Blog', blogs_path , class: 'btn btn-secondary' %>
        </p>
      </div>
    </section>