<h1>About me...</h1>
<p>Hello friends! This is your friendly internet memer. I'm here to spread the word about keeping the dankest of memes alive</p>
<p>What I do...</p>
<ul>
    <li>Play games</li>
    <li>Code multiple programming softwares</li>
    <li>Meme of course!</li>
    <li>And many more!</li>
</ul>
<p>This page will be updated, but that's some stuff about me</p>
