<h1>About me...</h1>

<hr>

<div class="row">
    <div class="col-md-4">
       <%= image_tag "Nature.jpg", width: 220, length: 250, alt: "Profile image" %>
    </div>
    
    <div class="col-md-8">
        <p>Hello friends! This is your friendly internet memer. I'm here to spread the word about keeping the dankest of memes alive! I'm an avid programmer willing to perform at the best my ability to get a future career.
        This is the first time since I've made a site before, so I'm new to this.
        </p>
        
        
        <p>This page will be updated, but that's some stuff about me</p>

    </div>
    
</div>

